@import url(../css/loading.min.css);
@import url(../css/header.css);
:root {
    font-family: sans-serif;
    font-size: 16px;
}

body{
overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
.logo__dark{
display: none;
}
.dark nav {
    background-color: #000;
}
.dark .logo__light{
display: none;
}
.dark .nav-links li a{
color: #fff;
}
.dark .logo__dark{
display: block;
}
.dark .content {
background-color: #000030;
}
.dark {
    background-color: #000030;
}
.dark .navbar {
    background-color: #000030;
    border-bottom: 2px solid white;
}
.dark h1{
    color: white;
}

.dark .hamburger-lines

.containerr{
margin-bottom: 50px;
}
html{
scroll-behavior: smooth;
}


body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #fff;
}
.content {
    width: 100%;
    margin: auto;
}

@media (min-width: 40em) {
    .content {
        width: 40em;
    }
}

@media (min-width: 80em) {
    .content {
        width: 80em;
    }
}

h1 {
    color: #000030;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: stretch;
    width: 100%;
    margin: auto;
    padding-top: 100px;
}
.heading{
padding-top: 100px;
}
.gallery .galleryItem {
    flex: 1 1 auto;
    margin: 0.3em;
    border: 1px solid black;
    position: relative;
    width: 12em;
    height: 13em;
    overflow: hidden;
}

@media (min-width: 40em) {
    .gallery .galleryItem {
        width: 10em;
        height: 10em;
    }
}

@media (min-width: 80em) {
    .gallery .galleryItem {
        width: 17em;
        height: 17em;
    }
}

.gallery .galleryItem:hover img {
    transform: scale(1.2);
}

.gallery a {
    display: block;
    width: 100%;
    height: 100%;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.gallery figcaption {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
}

.lightBoxOverlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 80em) {
    .lightBoxOverlay .closeButton {
        font-size: 2em;
        top: 1em;
        right: 1em;
        height: 2em;
        width: 2em;
    }
}

.lightBoxOverlay .container {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 1em;
}

@media (min-width: 40em) {
    .lightBoxOverlay .container {
        padding: 3em;
    }
}

@media (min-width: 80em) {
    .lightBoxOverlay .container {
        padding: 5em;
    }
}

.lightBoxOverlay img {
    max-width: 100%;
    max-height: 100%;
}

.lightBoxOverlay figcaption {
    margin-top: 1em;
    padding: 0.5em 1em;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5em;
}

.pc{
position: relative;
bottom: 270px;
}
.switcher{
display: none;
}
@media (min-width:768px){
.switcher{
position: relative;
top: 50px;
}
}
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.up {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.down {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
}

.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
}

.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.github {
    margin-top: -.6em;
    margin-left: 1.2em;
}

.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}

.discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}

.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
}

.card1:hover .instagram {
    fill: white;
}

.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
}

.card2:hover .twitter {
    fill: white;
}

.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #000030;
}

.card3:hover .github {
    fill: white;
}

.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
}

.card4:hover .discord {
    fill: white;
}
.dark footer{
background: url(../music/images/footer.webp);
background-position:0cap;
}
footer{
padding: 50px;
width: 100vw;
height: 100%;
background: url(../music/images/footer-light.jpg);
background-position:0%;
margin: 0;
}
.main{
display: flex;
align-items: center;
justify-content: center;
}